:root {
    --font-aptly-regular: 'Aptly Regular', sans-serif;
    --font-aptly-medium: 'Aptly Medium', sans-serif;
    --font-aptly-regular-italic: 'Aptly Regular Italic', sans-serif;
    --font-aptly-medium-italic: 'Aptly Medium Italic', sans-serif;
}

@font-face {
    font-family: 'Aptly Regular Italic';
    src: url('/fonts/aptly/aptly-4.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aptly Medium Italic';
    src: url('/fonts/aptly/aptly-7.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aptly Medium';
    src: url('/fonts/aptly/aptly-8.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aptly Regular';
    src: url('/fonts/aptly/aptly-9.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}