@import url("@/theme/font.css");
@import url("@/theme/color.css");
@import "tailwindcss";
@config "../../tailwind.config.js";

body {
  background-color: var(--black);
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
